.footer {
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  &__description {
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2b292d99;
  }

  &-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }
}

.about-company {
  margin-top: 44px;
}

.downloads {
  margin-top: 25px;

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;

  &__column {
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;

  &__title {
    color: #2b292d;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    margin: 0;
  }

  &__list {
    list-style-type: none;
    line-height: 30px; /* 166.667% */
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
  }
}

.footer-links {
  width: 1140px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}

.terms {
  line-height: 50px;
  font-size: 14px;

  &__items {
    text-decoration: none;
    color: #2b292d99;
    margin-right: 22px;
  }
}

.social-links {
  margin-left: auto;

  &__item {
    margin-left: 20px;
  }
}
