body {
    /* display: flex; */
}

.main-wrap {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}

.wrap-icon {
    display: inline;
}

.fa-battery-full {
    font-size: 16px;
}

.fa .fa-battery-three-quarters {
    font-size: 32px;
}

.fa-battery-quarter {
    font-size: 64px;
}

.fa-battery-empty {
    font-size: 64px;
}